#about {
  .content {
    display: flex;
    flex-direction: column;
    gap: 30px;

    nav {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      margin: 10px 0 20px;

      a {
        background-color: mediumpurple;
        border-radius: 10px;
        box-shadow: $shadow;
        font-size: 12px;
        min-width: 75px;
        padding: $padding;
        text-align: center;
        transition: all 0.5s ease;

        @media screen and (min-width: $large) {
          background-color: $darkgrey;
        }

        &:hover {
          background-color: mediumpurple;
          transform: scale(1.1);
        }
      }
    }
  }
}
