#contact {
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;

    .personnal-infos {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
      margin-bottom: 30px;
      width: 100%;
    }

    input, textarea {
      background-color: $darkgrey;
      border: none;
      border-radius: 10px;
      box-shadow: inset 0 0 0px black, $shadow;
      color: inherit;
      font: inherit;
      padding: 15px;
      transition: box-shadow 0.3s ease;

      &:focus {
        box-shadow: inset 0 0 10px black, $shadow;
        outline: none;
      }

      &:-webkit-autofill {
        transition: background-color 600000s 0s, color 600000s 0s;
      }
    }

    textarea {
      min-height: 150px;
    }

    #notice p {
      font-size: 16px;

      &.error {
        color: rgb(116, 47, 47);
      }
    }
  }

  .content {
    max-width: 100%;

    a, input[type="submit"] {
      appearance: none;
      background-color: mediumpurple;
      border-radius: 10px;
      padding: $padding;
      transition: all 0.3s ease;
      width: max-content;
      -webkit-appearance: none;

      &:hover {
        background-color: mediumpurple;
        box-shadow: $shadow;
      }
    }

    h3 {
      margin: -5px 0 20px;
    }
  }

  @media screen and (min-width: $large) {
    form {
      .personnal-infos {
        flex-direction: row;
        margin-bottom: 0;

        input {
          width: calc(33% - 13.33px);
        }
      }

      input, textarea {
        padding: $padding;
      }
    }

    .content {
      a, input[type="submit"] {
        background-color: $darkgrey;
      }
    }
  }
}
