@import "about";
@import "contact";
@import "projects";

.page {
  align-items: center;
  display: flex;
  font-size: 25px;
  justify-content: center;
  position: relative;

  h2 {
    flex-shrink: 0;
    margin-top: -15px;
    text-align: right;
    width: 160px;
  }

  .container {
    display: flex;
    gap: 50px;
    height: max-content;
    translate: 0 -10%;
    width: Min(calc($large), 80%);
  }

  .content {
    flex-grow: 1;
  }
}
