#projects {
  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .project {
      border-radius: 10px;
      box-shadow: $shadow;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
      width: 100%;

      &:first-of-type {
        flex-direction: column-reverse;
      }

      img {
        flex-shrink: 0;
        max-width: 400px;
        object-fit: cover;
        object-position: center;
        width: 100%;
      }

      .details {
        background-color: $background;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-between;
        padding: 20px;

        p {
          flex-grow: 1;
        }
      }

      #external {
        align-self: flex-end;
        display: flex;
        gap: 20px;

        font-size: 25px;

        a {
          transition: transform 0.3s ease;

          &:hover {
            transform: scale(1.2);
          }
        }
      }

      @media screen and (min-width: $large) {
        border-radius: none;
        box-shadow: none;
        flex-direction: row;
        gap: 20px;

        &:first-of-type {
          flex-direction: row;
        }

        img, .details {
          background-color: $darkgrey;
          border-radius: 10px;
          box-shadow: $shadow;
        }

        img {
          height: min(calc((100vh - 200px) / 2 - 10px), 300px);
          width: auto;
        }
      }
    }

    #artify h3 {
      color: #9ab495;
    }

    #rentart h3 {
      color: #ecc486
    }
  }
}
