@keyframes rotate {
  0% {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  100% {
    rotate: 360deg;
  }
}

#blob {
  animation: rotate 20s linear infinite;
  aspect-ratio: 1;
  background-image: linear-gradient(to right, aquamarine, mediumpurple);
  border-radius: 50%;
  left: 50%;
  height: 500px;
  position: absolute;
  top: 50%;
  translate: -50% -50%;
}

#dot {
  background-color: $lightgrey50;
  border-radius: 50%;
  pointer-events: none;
  position: absolute;
  height: 5px;
  width: 5px;
  z-index: 30;
}
