footer {
  bottom: 0;
  gap: 20px;
  margin-bottom: 30px;
  padding: $padding;
  position: fixed;
  width: 100%;

  nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;

    a {
      color: $lightgrey50;
      text-decoration: none;
      transition: all 0.3s ease;

      &:hover {
        color: $lightgrey;
      }

      &.active {
        color: orange;
        transform: scale(1.2);
      }
    }
  }
}
