footer {
  bottom: 0;
  gap: 20px;
  margin-bottom: 30px;
  padding: $padding;
  position: fixed;
  width: 100%;

  nav {
    display: flex;
    margin: 0 auto;
    width: max-content;

    a {
      color: $lightgrey50;
      padding: 0 15px;
      text-decoration: none;
      transition: all 0.3s ease;
      width: 100px;

      &:hover {
        color: $lightgrey;
      }

      &:nth-child(1) {
        text-align: right;
      }

      &:nth-child(2) {
        text-align: center;
      }

      &.active {
        color: mediumpurple;
        transform: scale(1.2);
      }
    }
  }
}
