header {
  padding: $padding;

  h1 {
    display: grid;
    font-family: "Space Mono", monospace;
    font-size: 26px;
    grid-template-columns: 1fr 1fr;

    span {
      padding: 0.5rem 20px;

      &:first-of-type {
        border-right: 2px solid $lightgrey;
        text-align: right;
      }
    }
  }
}
