* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: $background;
  color: $lightgrey;
  display: flex;
  flex-direction: column;
  font-family: $body-font;
  min-height: 100vh;
}

main {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  width: 100%;
}

h1, h2, h3 {
  font-family: $headers-font;
}

section {
  flex-shrink: 0;
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  height: 1px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, transparent, orange, transparent);
}
