* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: $background;
  color: $lightgrey;
  font-family: $body-font;
}

h1, h2, h3 {
  font-family: $headers-font;
}
