// Border and Shadows
$shadow: 0 0 10px rgba(0, 0, 0, 0.5);

// Colours
$background: #181a1b;
$darkgrey: #222425;
$lightgrey: #d3d3d3;
$lightgrey50: #d3d3d380;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&family=Poppins:wght@100;400;500&family=Roboto:wght@100;400;500&display=swap');

$body-font: 'Roboto', sans-serif;
$headers-font: 'Poppins', sans-serif;

// Screen sizes
$large: 996px;
$small: 576px;

// Spacing
$padding: 0.5rem 1rem;
